<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link de fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
    rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Raleway:ital@1&family=Roboto:wght@300&display=swap"
    rel="stylesheet">
    <!-- owl-carousel -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
     <!-- link de icons -->
    <script src="https://kit.fontawesome.com/e5a1a74a95.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/img/skatepng.png">
    <link rel="stylesheet" href="./css/style.css">

    <title>San Diego</title>
</head>
<body class="home-body">
    <header>
      <div class="top-header">
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>

        <div class="logo-header">
          <a href="/">
            <img src="/img/logo-san-diego.png" alt="Logo San Diego" class="header-logo"/>
          </a>  
        </div>


          <form class="header-searcher" action="/searcher" method="post">
            <input type="text" class="input">
            <button class="submit"><i class="fas fa-search"></i></button>
          </form>
        
        <ul class="header-list">
        <li>Marcas</li>
        <li>Skates</li>
        <li>Accesorios</li>
        <li>Torneos</li>
        <li>Skateparks</li>
        <li>Sale</li>
        </ul>
    
      <div class="logo-user">
      <a href="/login"><i class="far fa-user"></i></a>
      </div>
      <div class="logo-carrito">
       <a href="/productCart"><i class="fas fa-shopping-cart"></i></a> 
      </div>
    </div>
    <p class="header-envio">Envío gratis a partir de $4500 <i class="fas fa-truck"></i> - 6 cuotas sin interés <i class="fas fa-credit-card"></i></p>
    </header>
    <div class="imagen-fondo"> 
      <p></p>
     </div>
      <main class="home-main">

      <section>
           
          <!--carrusel-->
          <h2 class="carousel-title">Mas vendidos</h2>
          <div class="wrapper">
            <div class="carousel owl-carousel">
              <div class="card card-1">
                <p class="title-product product-carrousel">Tabla O´NEIL</p>
                <img src="./img/Productos/Skateboard-Decks3.jpg" alt="image" />
                <div class="product-carrousel">
                  <p class="precio">$1.500</p>
                  <!-- <p class="descuentos">40% off</p> -->
                  <p class="descripciones"></p>
                </div>
              </div>
              <div class="card card-2">
                <p class="title-product product-carrousel">Tabla SANTA CRUZ</p>
                <img src="./img/Productos/Skateboard-Decks4.jpg" alt="image" />
                <div class="product-carrousel">
                  <p class="precio">$2.000</p>
                  <!-- <p class="descuentos">40% off</p> -->
                  <p class="descripciones"></p>
                </div>
              </div>
              <div class="card card-3">
                <p class="title-product product-carrousel">Tabla ZERO</p>
                <img src="./img/Productos/Skateboard-Decks5.jpg" alt="image" />
                <div class="product-carrousel">
                  <p class="precio">$2.000</p>
                  <!-- <p class="descuentos">40% off</p> -->
                  <p class="descripciones"></p>
                </div>
              </div>
              <div class="card card-4">
                <p class="title-product product-carrousel">Tabla FLIP</p>
                <img src="./img/Productos/Skateboard-Decks6.jpg" alt="image" />
                <div class="product-carrousel">
                  <p class="precio">$2.000</p>
                  <!-- <p class="descuentos">40% off</p> -->
                  <p class="descripciones"></p>
                </div>
              </div>
            </div>
          </div>
          <script>
            $(".carousel").owlCarousel({
              Margin: 10,
              loop: true,
              autoplay: true,
              autoplayTimeout: 2000, //2000 ms = 2sec
              autoplayHoverPause: true,
              responsive: {
                0: {
                  items: 1,
                  nav: false,
                },
                600: {
                  items: 2,
                  nav: false,
                },
                1000: {
                  items: 3,
                  nav: false,
                },
              },
            });
          </script>
        </section>
          <section class="brand-section">
          <img class="img-brands" src="https://sites.google.com/site/sk8trucos/_/rsrc/1468756681820/home/marcas-reconocidas/105.jpg" alt="Imagen de marcas">
          <div class="main-brands"><p><strong>Marcas</strong></p>
          <button class="see-more" type="submit">Ver Más</button>
        </div>
        </section>
      </main>
        <div class="imagen-fondo2"> 
          <p></p>
         </div>
         <footer>
          <div class="footer-form">
          <form action="/" method="post">
            <label><h4>Recibí las mejores ofertas y novedades</h4></label>
            <div class="element-form">
            <input type="text" name="name-user" placeholder="name_user"></div>
            <div class="element-form">
            <input type="email" name="user-email" placeholder="user@email.com"></div>
            <button class="button-footer" type="submit">Enviar</button>
          </form>
         </div>
 
         <div class="bottom-footer">
           <ul>
             <li><h5>CONTACTANOS</h5>
               <div class="contact">
               <i class="fas fa-mobile"></i>
               <p>+54 011 1111111</p></div>
               <div class="contact">
               <i class="far fa-envelope"></i>
               <p>(marca)@gmail.com</p>
               </div>
               </li>
               <li class="footer-logos">
               <i class="fab fa-instagram" ></i>
               <i class="fab fa-facebook" ></i>
               <i class="fab fa-twitter" ></i>
               </li>
            </ul>
           <ul class="list-politics">
             <li>Formas de pago</li>
             <li>Metodos de envíos</li>
             <li>Políticas de Privacidad</li>
             <li>Políticas de cambios y devoluciones</li>
           </ul>
           <div>
           <form action="#" method="post">
           <button class="button-cancel-buy" type="submit">Cancelar compra</button>
            </div>
          </div>
         <div class="copyright">
          <p>Copyright © 2022 SanDiego® Todos los derechos reservados.</p>         
         </div>
         </footer>
</body>
</html>