<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link de fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
    rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Raleway:ital@1&family=Roboto:wght@300&display=swap"
    rel="stylesheet">
     <!-- link de icons -->
    <script src="https://kit.fontawesome.com/e5a1a74a95.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/img/skatepng.png">
    <link rel="stylesheet" href="./css/style.css">
    <title>San Diego</title>
</head>
<body class="home-body">
    <header>
        <div class="top-header">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
        <img src="/img/logo-san-diego.png" alt="Logo San Diego" class="header-logo">

        <div class ="header-searcher">
            <i class="fas fa-search"></i>
        </div>
    </div>
    </header>
    <div class="imagen-fondo"> 
        <p>Libera tu estilo</p>
       </div>
      <main class="home-main">
        <section>
          <div class="titulares"><h2>Nuevos</h2></div>
          <div class="main-products">
            <div class="home-arrow"><i class="fas fa-angle-left"></i></div>
            
            <article class="main-product">
            <img class="images-main" src="\img\Productos\Skateboard-Decks5.jpg" alt="product1">
            <div class="main-description">
              <ul>
                <li>Lorem ipsum dolor sit amet consectetur.</li>
                <li>$1.111</li>
              </ul>
            </div> 
        
           </article>
            <article class="main-product">
            <img class="images-main" src="\img\Productos\Skateboard-Decks2.jpg" alt="product2">
            <div class="main-description">
              <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit..</li>
                <li>$2.222</li>
              </ul>
            </div>
          </article>
          <div class="home-arrow"><i class="fas fa-angle-right"></i></div>
        </div>
        </section>
        <section class="brand-section">
          <img class="img-brands" src="https://sites.google.com/site/sk8trucos/_/rsrc/1468756681820/home/marcas-reconocidas/105.jpg" alt="Imagen de marcas">
          <div class="main-brands"><p><strong>Marcas</strong></p>
          <button class="see-more" type="submit">Ver Más</button>
        </div>
        </section>
      </main>
        <div class="imagen-fondo2"> 
          <p>SAN DIEGO</p>
         </div>
         <footer>
           <div class="footer-form">
           <form action="/" method="post">
             <label><h4>Recibí las mejores ofertas y novedades</h4></label>
             <div class="element-form">
             <input type="text" name="name-user" placeholder="name_user"></div>
             <div class="element-form">
             <input type="email" name="user-email" placeholder="user@email.com"></div>
             <button class="button-footer" type="submit">Enviar</button>
           </form>
          </div>
  
          <div class="bottom-footer">
            <ul>
              <li><h5>CONTACTANOS</h5>
                <div class="contact">
                <i class="fas fa-mobile"></i>
                <p>+54 011 1111111</p></div>
                <div class="contact">
                <i class="far fa-envelope"></i>
                <p>(marca)@gmail.com</p>
                </div>
                </li>
                <li class="footer-logos">
                <i class="fab fa-instagram" ></i>
                <i class="fab fa-facebook" ></i>
                <i class="fab fa-twitter" ></i>
                </li>
            </ul>
            <ul class="list-politics">
              <li>Formas de pago</li>
              <li>Metodos de envíos</li>
              <li>Políticas de Privacidad</li>
              <li>Políticas de cambios y devoluciones</li>
            </ul>
          </div>
          <form action="#" method="post">
            <button class="button-footer" type="submit">Cancelar compra</button>
          </div>
          <div class="copyright">
            <p>Copyright © 2022 --Marca--</p>
            <p>Todos los derechos reservados.</p>
          </div>
         </footer>
</body>
</html>