<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link de fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
    rel="stylesheet"/>
     <!-- link de icons -->
    <script src="https://kit.fontawesome.com/e5a1a74a95.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>San Diego</title>
</head>
<body>
    <header>
        <div class="top-header">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
        <img src="/img/logo-san-diego.png" alt="Logo San Diego" class="header-logo">

        <div class ="header-searcher">
            <i class="fas fa-search"></i>
        </div>
    </div>
    </header>
    
</body>
</html>