<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link de fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
    rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Raleway:ital@1&family=Roboto:wght@300&display=swap"
    rel="stylesheet">
     <!-- link de icons -->
    <script src="https://kit.fontawesome.com/e5a1a74a95.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Ingresá a San Diego</title>
</head>
<body>
    <main>
        <div class="form-login">
            <h1>Bienvenidos a San Diego</h1>
        </div>
        <div class="video-login">
        <video src="../public/img/Videos/fondo.mp4" autoplay loop></video>
        </div>
    </main>
</body>
</html>