<!DOCTYPE html>
<html lang="en">

<head>
    <!-- config -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />
    <!-- link de icons -->
    <script src="https://kit.fontawesome.com/e5a1a74a95.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/img/skatepng.png">
    <title>Detalle del Producto</title>
</head>

<body>
    <header>
        <p class="header-envio">Envío gratis a partir de $4500 <i class="fas fa-truck"></i> - 6 cuotas sin interés <i class="fas fa-credit-card"></i></p>
        <div class="top-header">
          <div class="burger-menu">
            <i class="fas fa-bars"></i>
          </div>
  
          <img
            src="/img/logo-san-diego.png"
            alt="Logo San Diego" class="header-logo"/>
  
  
            <form class="header-searcher" action="/searcher" method="post">
              <input type="text" class="input">
              <button class="submit"><i class="fas fa-search"></i></button>
            </form>
          
          <ul class="header-list">
          <li>Marcas</li>
          <li>Skates</li>
          <li>Accesorios</li>
          <li>Torneos</li>
          <li>Skateparks</li>
          <li>Sale</li>
          </ul>
      
        <div class="logo-user">
        <i class="far fa-user"></i>
        </div>
        <div class="logo-carrito">
          <i class="fas fa-shopping-cart">
            <a href="/productCart"></a>
          </i>
        </div>
      </div>
      </header>
    <main class="main">
        <article>
            <h1 class="titulo-producto">Tabla Flip Amarilla</h1>
            <div><img src="./img/Productos/Skateboard-Decks6.jpg" alt="tabla flip Amarilla" class="foto-producto"></div>
        </article>
        <section class="opciones">
            <div class="arrow"><i class="fas fa-angle-left"></i></div>
            <div>
                <img src="./img/Productos/Skateboard-Decks6.jpg" alt="tabla flip Amarilla" class="imagenes-de-opcion">
                <img src="./img/Productos/Skateboard-Decks6.jpg" alt="tabla flip Amarilla" class="imagenes-de-opcion">
            </div>
            <div class="arrow"><i class="fas fa-angle-right"></i></div>
        </section>
        <section class="info-product">
            <div>
                <div>
                    <p class="breve-descripcion">Tabla Flip amarilla (78cm x 20cm)</p>
                </div>
                <div>
                    <p class="precio">$ 111111</p>
                </div>
            </div>
            <div class="bullets">
                <p class="bullet-product"></p>
                <p class="bullet-product1"></p>
                <p class="bullet-product2"></p>
                <p class="bullet-product3"></p>
            </div>
            <form action="/cantidad" method="POST" class="formulario">
                <label for="cantidad"></label>
                <input class="qty-cart" type="number" id="cantidad" name="cantidad" min="1" max="10000" />
                <div class="masmenos">
                    <button type="button">+</button>
                    <button type="button">-</button>
                </div>
                <div><button type="submit" class="comprar">COMPRAR</button></div>
            </form>
            <p class="breve-descripcion">Descripción</p>
            <div class="descripcion">
                <ul>
                    <li class="lis">Tabla Flip amarilla.</li>
                    <li class="lis">Medidas: 78cm x 20cm.</li>
                    <li class="lis">Lija inluida.</li>
                    <li class="lis">(No incluye ruedas ni ejes, solo la tabla)</li>
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-form">
            <form action="/" method="post">
                <label>
                    <h4>Recibí las mejores ofertas y novedades</h4>
                </label>
                <div class="element-form">
                    <input type="text" name="name-user" placeholder="name_user">
                </div>
                <div class="element-form">
                    <input type="email" name="user-email" placeholder="user@email.com">
                </div>
                <button class="button-footer" type="submit">Enviar</button>
            </form>
        </div>

        <div class="bottom-footer">
            <ul>
                <li>
                    <h5>CONTACTANOS</h5>
                    <div class="contact">
                        <i class="fas fa-mobile"></i>
                        <p>+54 011 1111111</p>
                    </div>
                    <div class="contact">
                        <i class="far fa-envelope"></i>
                        <p>(marca)@gmail.com</p>
                    </div>
                </li>
                <li class="footer-logos">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                </li>
            </ul>
            <ul class="list-politics">
                <li>Formas de pago</li>
                <li>Metodos de envíos</li>
                <li>Políticas de Privacidad</li>
                <li>Políticas de cambios y devoluciones</li>
            </ul>
            <div>
                <form action="#" method="post">
                    <button class="button-cancel-buy" type="submit">Cancelar compra</button>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 2022 SanDiego® Todos los derechos reservados.</p>         
           </div>s
    </footer>
</body>

</html>