<!DOCTYPE html>
<html lang="en">
<head>
    <!-- config -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link de icons -->
    <script src="https://kit.fontawesome.com/e5a1a74a95.js" crossorigin="anonymous"></script>
    <title>Detalle del Producto</title>
</head>
<body>
    <header>
        <div><i class="fas fa-bars"></i></div>
        <div><img src="/img/logo-san-diego.jpg" alt="logo san diego"></div>
        <div><i class="fas fa-search"></i></div>
    </header>
</body>
</html>