<!DOCTYPE html>
<html lang="en">
<head>
    <!-- config -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
    rel="stylesheet"
     />
    <!-- link de icons -->
    <script src="https://kit.fontawesome.com/e5a1a74a95.js" crossorigin="anonymous"></script>
    <title>Detalle del Producto</title>
</head>
<body>
    <header class="header-producto">
        <div class="icons-header-producto"><i class="fas fa-bars"></i></div>
        <div><img src="/img/logo-san-diego.png" alt="logo san diego" class="logo-producto"></div>
        <div class="icons-header-producto"><i class="fas fa-search"></i></div>
    </header>
    <article>
        <h1 class="titulo-producto">Tabla Flip Amarilla</h1>
        <div><img src="./img/Productos/Skateboard-Decks6.jpg" alt="tabla flip Amarilla" class="foto-producto"></div>
    </article>
</body>
</html>