* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul li{
    list-style-type:none;
    
}
ul{
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

:root{
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --gris: #E0E0E0;
    --blanco: #ffffff;
    --negro: #070707;
    --verde: #20fc8f;
    --azul: #087e8b;
    --violeta: #7b1e7a; 
}



/****************************
        CARRITO
******************************/

.cart{
    margin-top: 20%;
    background-color: var(--gris-claro);
    
}

.title-cart{
    font-size: 1.5rem;
    margin-left: 5px;
}

.titulos-cart{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    max-width: 100%;
    border-bottom: 1px solid #bebebe;
    /* margin-left: 15%; */
    font-size: 12px;
}

.product-data{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
}

.product-data img{
    width: 76px;
    box-shadow: 0px 0px 10px rgb(100 100 100);
}

.catidad{
    margin-left: 15px;
}

.title-cart-quantity{
margin-left: 30%;
}

.description-cart{
    border-bottom: 1px solid #bebebe;
}

.cart-bottom{
    width: 30%;
    margin-left: 70%;
    border-bottom: 1px solid #bebebe;
} 

.subtotal-bottom, .Shipping-bottom{
    margin: 10px 10px;
    display: flex;
    justify-content: flex-end;
}

.subt-bot, .ship-bot, .tot-cart{
    margin-right: 20px;
}

.total-cart{
    margin: 10px 10px;
    display: flex;
    justify-content: flex-end;
}

#cantidad{
    width: 35px;
    margin: 0 10px;
}
.btn-finalizar{
    background-color: var(--violeta);
    color: var(--verde);
}
.btn-cart{
    margin-top: 1.5rem;
   text-align: center;
}

.qty-cart{
    max-width: 40px;
}

/*carrusel*/
.owl-dots{
	text-align: center;
	margin-top: 0px;
}

.owl-dot{
	height: 15px;
	width: 25px;
	border-radius: 25px;
	cursor: pointer;
	outline: none;
	margin: 0 5px;
	border: 2px solid var(--violeta) !important;
	transition: all 0.3s ease;
}

.owl-dot:hover,
.owl-dot:active{
	background: var(--verde)!important;
}

.product-carrousel{
    display: flex;
    flex-direction: column;
    align-items: center;
font-weight: 600;}
.title-product{
    font-size: 16;
}
.wrapper{
    padding-bottom: 30px;margin: 35px 0;
}


.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    padding: 30px;
}
/****************************
     DETALLE DE PRODUCTO
******************************/
.main{
    border-bottom: #666 solid 1px;
}
.header-producto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: #666 solid 2px;
}

.logo-producto{
    width: 25vw;
    margin-left: 9%;
}
.icons-header-producto{
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.titulo-producto{
    font-weight: 550;
    text-align: center;
    margin-top: 7%;
}

.foto-producto{
    margin: 10%;
    width: 80%;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    margin-bottom: 5%;
}

.imagenes-de-opcion{
    width: 38%;
    margin: 5%;
    box-shadow: 0px 0px 10px rgb(100 100 100);
}

.arrow{
    margin: 10%;
}

.opciones{
    display: flex;
    align-items: center;
}
.info-product{
    margin-left: 5%;
}
.breve-descripcion{
    margin: 2%;
    color: #666;
}
.precio{
    margin: 2%;
    font-size: 18px;
    color: #666;
    font-weight: 600;
}
.formulario{
    display: flex;
    margin: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 0;
}
.masmenos{
    display: flex;
    flex-direction: column;
    margin-right: 3%;
}
.comprar{
    height: 100%;
    padding: 20%;
    background-color: var(--violeta);
    border: #20fc8f solid 1px;
    font-weight: 700;
    color: #20fc8f;
}
.descripcion{
    margin: 2%;
}
.lis{
    list-style-type: disc;
    margin: 2%;
    margin-left: 10%;
}
.bullet-product{
    background-color: yellow;
    border: black solid 1px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin:5px;
}
.bullet-product1{
    background-color: var(--azul);
    border: black solid 1px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin:5px;
}
.bullet-product2{
    background-color: var(--violeta);
    border: black solid 1px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin:5px;
}
.bullet-product3{
    background-color: var(--verde);
    border: black solid 1px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin:5px;
}
.bullets{
    display: flex;
}
/****************************
        HOME
******************************/

.home-body{
    background-color: burlywood;
}
.home-main{
    width: 90%;
    margin: auto;
}

.header-logo{
    width: 30%;
}
.top-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--gris-oscuro);
}
.burger-menu{
    padding: 15px;
    font-size: 30px;
}
.header-searcher{
    padding: 15px;
    font-size: 30px;
}

.imagen-fondo{
    background-image: url('https://i.pinimg.com/originals/89/f5/ee/89f5ee2c48c63c6e4fb127b7ecd9cd60.gif');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-top: 10px;
}
.imagen-fondo p{
    font-size: 18px;
    font-family: 'Calligraffitti', cursive;
    font-weight: 400 ;
    color: white;
    padding:50px
}

 main section .titulares{
     color: black;
     font-size: 12px;
     text-align: center;
     padding: 15px;
 }
 section .main-product{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: solid black 1px;
    width: 40%;
}
 .main-description{
     font-size: 12px;
     width: 100%;
     padding: 15px;
     padding-bottom: 0;
 }
.main-description ul li{
    list-style-type: disc;
}
 .main-products{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     margin-bottom: 20px;
 }
 
.home-arrow{
    align-self: center;
}

.brand-section{
    border: solid black 2px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.img-brands{
    width: 50%; 
}
.main-brands{
    flex-direction: column;
    padding: 15px;
    font-size: 14px;
    text-align: center;
}

.see-more{
    color: brown;
    background-color: #ffffff;
    font-size: 14px;
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 5px;
    width: 100px;
}

.imagen-fondo2{
    background-image: url('https://i.gifer.com/9kTs.gif');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-top: 10px;
    margin-top: 80px;
}
.imagen-fondo2 p{
    font-size: 18px;
    font-family: 'Calligraffitti', cursive;
    font-weight: 800 ;
    color: black;
    padding:50px
}

footer .footer-form{
    border: solid 3px black;
    font-size: 14px;
    text-align: center;
    padding: 15px;
    background-color: gray;
    margin-bottom: 10px;
}

footer .element-form{
    padding: 5px;
}

.element-form input{
    border-radius: 5px;
    padding: 5px;
    border: none;
    font-size: 12px;
}

.button-footer{
    padding: 0px 10px;
    background-color: orangered;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    margin-top: 10px;
}

footer{
    text-align: center;
    padding-bottom: 10px;
}

footer .list-politics{
    font-size:12px ;
}
footer .list-politics li{
    padding: 5px 0px;
}

bottom-footer{
    margin-top: 10px;
    padding: 15px;
}
.contact{
     display: flex;
     font-size: 14px;
     justify-content: center;
     padding: 5px;
 }

.footer-logos{
    font-size: 19px;
    padding: 2px;
}

.copyright{
    font-weight: 600;
    font-size: 12px;
    border: solid black 1px;
    margin-top: 18px;
    font-style: italic;
}

/****************************
    REGISTER
******************************/
.register-body{
    background-image: url(../img/Videos/fondo.mp4);
}

.contacto-div {
    display: flex;
    justify-content: center;
    margin: 5px;
    border: solid black 1px;
  }
  .contacto-div .formatForm {
    border: black solid;
    padding: 40px;
    text-align: left;
    font-size: 18px;
    height: 75%;
    width: 35%;
    box-shadow: 7px 7px 30px black;
    border-radius: 4px;
    text-align: center;
  }
  .contacto-div .formatForm .inputClass {
    border-radius: 4px;
    background: #333A40;
    color: orange;
  }
  .contacto-div .formatForm .inputClasscoment {
    background: #333A40;
  }
  .contacto-div .botonsForm {
    font-size: 15px;
    background: white;
    color: rgb(14, 12, 10);
    border-radius: 4px;
    font-family: "Oswald", sans-serif;
  }
  .contacto-div .botonsForm :hover {
    border: 5px solid orange;
  }

  .privacity{
    font-weight: 600;
    font-size: 12px;
    margin-top: 18px;
    font-style: italic;
  }

  /****************************
    REGISTER BUTTON
******************************/

    button {
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background-color: #212121;
    font-family: "Roboto", Arial, "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    z-index: 2;
   }
   
   button::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(
           #488cfb,
           #29dbbc,
           #ddf505,
           #ff9f0e,
           #e440bb,
           #655adc,
           #488cfb
       );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
   }
   
   button:hover::after {
    animation-play-state: running;
   }
   
   @keyframes rotate-hue {
    to {
     filter: hue-rotate(1turn);
    }
   }
   
   button,
   button::after {
    box-sizing: border-box;
   }
   
   button:active {
    --border-width: 5px;
   }
  /****************************
   LOGIN
******************************/
.video-login{
    width: cover;
}