* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.d-flex {
    display: flex;
}

ul li {
    list-style-type: none;
}

ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

:root {
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --gris: #E0E0E0;
    --blanco: #ffffff;
    --negro: #070707;
    --verde: #20fc8f;
    --azul: #087e8b;
    --violeta: #7b1e7a;
}

:root {
    --gris-nuevo: #9f9898;
    --negro-nuevo: #110F0F;
    --blanco-nuevo: #F4F3F7;
    --azul-nuevo: #5794EF;
    --naranja-nuevo: #FF4500;
    --rojo-nuevo:#ed0a28;
}

/****************************
        CARRITO
******************************/
.logo-cart {
    text-align: center;
    background: var(--gris-nuevo);
}

.cart {
    background-color: var(--gris-claro);
padding: 0 40px;}

.title-cart {
    font-size: 1.5rem;
    margin-left: 5px;
    padding-top: 35px;
}

.titulos-cart {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    max-width: 100%;
    border-bottom: 1px solid #bebebe;
    /* margin-left: 15%; */
    font-size: 12px;
}

.product-data {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
}

.product-data img {
    width: 76px;
    border-radius: 5px;box-shadow: 2px 0px 6px rgb(100 100 100);
}

.catidad {
    margin-left: 15px;
}

.title-cart-quantity {
    margin-left: 30%;
}

.description-cart {
    border-bottom: 1px solid #bebebe;
}

.cart-bottom {
    width: 30%;
    margin-left: 70%;
    border-bottom: 1px solid #bebebe;
}

.subtotal-bottom,
.Shipping-bottom {
    margin: 10px 10px;
    display: flex;
    justify-content: flex-end;
}

.subt-bot,
.ship-bot,
.tot-cart {
    margin-right: 20px;
}

.total-cart {
    margin: 10px 10px;
    display: flex;
    justify-content: flex-end;
}

#cantidad {
    width: 50px;
    height: 44px;
margin-right: 5px;}

.btn-finalizar {


    height: 10%;
    padding: 10px;
    background-color: var(--naranja-nuevo);
    font-weight: 700;
    color: #ffffff;
    border-radius: 8px;
    border: none;
}

.btn-cart {
    margin-top: 1.5rem;
    text-align: center;
}

.qty-cart {
    max-width: 40px;
}

/*carrusel*/
.owl-dots {
    text-align: center;
    margin-top: 0px;
}

.owl-dot {
    height: 15px;
    width: 25px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 2px solid var(--azul) !important;
    transition: all 0.3s ease;
}

.owl-dot:hover,
.owl-dot:active {
    background: var(--azul) !important;
}

.product-carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}

.title-product {
    font-size: 16;
    padding-top: 15px;
}

.wrapper {
    padding-bottom: 30px;
    margin-top: 46px;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    padding: 30px;
}

/****************************
     DETALLE DE PRODUCTO
******************************/


.header-producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: #666 solid 2px;
}

.logo-producto {
    width: 25vw;
    margin-left: 9%;
}

.icons-header-producto {
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.titulo-producto {
    font-weight: 800;
    /* text-align: center; */
    margin-top: 20px;
font-size: 1.5rem;}

.foto-producto {
    margin: 30px;
    width: 60%;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    margin-bottom: 5%;
}

.imagenes-de-opcion {
    width: 20%;
    
    box-shadow: 0px 0px 10px rgb(100 100 100);
margin: 0 10px;}

.arrow {
    margin: 10px;
}

.opciones {
    display: flex;
    align-items: center;
flex-wrap: nowrap;flex-direction: column;}

.info-product {
    margin: 15px;
}

.breve-descripcion {
    margin: 10px 0px 5px 0px;
    color: #666;
border-bottom: 1px solid #666;}

.price {
    margin: 10px  0px;
    font-size: 1.5rem;
    color: var(--negro-nuevo);
    font-weight: 600;
}

.product-description{
    text-align: center;
font-weight: 500;font-size: 1rem;}


.formulario {
    display: flex;
    margin: 15px 0px;
}

.form-check-input{
    width: 20px !important;
    margin: 5px;
}

.rmb-login{
    display: flex;
    align-content: center;
    align-items: flex-start;  
}

.edit-product {
    height: 40px;
    padding: 8px;
    background-color: #f4f3f7;
    font-weight: 400;
    color: rgb(36 33 38 / 90%);
    border-radius: 6px;
    border: solid 1px #666;
    text-decoration: none;
    margin-right: 3px;
}

.masmenos {
    display: flex;
    flex-direction: column;
    margin-right: 11px;
}

.product-buy {
    padding: 10px;
    background-color: var(--naranja-nuevo);
    font-weight: 400;
    color: #ffffff;
    border-radius: 6px;
    border: none;
    width: 93px;
    height: 46px;
}
.product-edit-delete{
    padding: 5px 10px;
    background-color: var(--rojo-nuevo);
    color: #ffffff;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    margin-top: 10px;
text-decoration: none;}
.productImageLG{
    display: flex;
flex-wrap: wrap;justify-content: space-evenly;}

.img-product-assets{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.descripcion {    
margin: 20px 0px;max-width: 400px;}

.lis {
    list-style-type: disc;
    margin: 2%;
    margin-left: 10%;
}

.bullet-product {
    background-color: yellow;
    border: black solid 1px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 5px;
}

.bullet-product1 {
    background-color: var(--azul);
    border: black solid 1px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 5px;
}

.bullet-product2 {
    background-color: var(--violeta);
    border: black solid 1px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 5px;
}

.bullet-product3 {
    background-color: var(--verde);
    border: black solid 1px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 5px;
}

.bullets {
    display: flex;
}

/****************************
        HOME
******************************/
.logo-header {
    width: 30%;
}

.home-body {
    background-color: var(--blanco-nuevo);
}

.home-main {
    width: 90%;
    margin: auto;
}

.header-envio {
    text-align: center;
    display: none;
}

.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--negro-nuevo);
}

.burger-menu {
    padding: 15px;
    font-size: 30px;
    color: var(--gris-nuevo);
}

.header-searcher {
    border-radius: 6px;
    border: none;
    display: flex;
    font-size: 30px;
}

.header-searcher .input {
    display: none;
}

.submit {
    border: none;
    background-color: var(--negro-nuevo);
    color: var(--gris-nuevo);
    font-size: 30px;
}

.header-list {
    display: none;
    padding: 5px;
}

.header-list li a{
    color: #fff;padding: 10px;
    text-align: center;
    margin: 5px;
    font-size: 18px;
    width: 100%;
    text-decoration: none;
}
.userLogged-name{
    color: #fff;
    margin: 5px;
    font-size: 1.1rem;
    display: flex; 
    order: 2;
    flex-direction: row;
    display: none;
    align-items: center;
}
.userLogged-name p{
    margin-left: 10px;
}
.user-logout{
    display: none;
}
.user-logout a{
    color: #fff;padding: 10px;
    text-align: center;
    margin: 5px;
    font-size: 18px;
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.userLogged-name:hover .user-logout{
    display: block;
}
.logo-user {
    display: none;
    order: 2;
}

.logo-carrito {
    display: none;
    order: 3;
}

.logo-user a,
.logo-carrito a {
    color: var(--gris-nuevo);
}

/* -----------/HEADER----------- */
/* -----------SECTION IMAGEN----------- */
.imagen-fondo {
    background-image: url('https://i.pinimg.com/originals/89/f5/ee/89f5ee2c48c63c6e4fb127b7ecd9cd60.gif');
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-top: 10px;
}

.imagen-fondo p {
    font-size: 18px;
    font-family: inherit;
    font-weight: 400;
    color: white;
    padding: 50px
}

/* -----------/SECTION IMAGEN----------- */
/* -----------MAIN----------- */
.carousel-title {
    margin-top: 1.5rem;
    text-align: center;
    font-weight: 590;
}

main section .titulares {
    color: black;
    font-size: 12px;
    text-align: center;
    padding: 15px;
}

.main-product {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: solid black 1px;
    width: 40%;
    position: relative;
}

.header-logo {
    width: 100%;
}

.owl-item:hover {
    opacity: 0.7;
    background-color: rgba(87, 148, 239, 1);
    transition: 1s;
}

.main-product p {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 450ms;
}

.main-description {
    font-size: 12px;
    width: 100%;
    padding: 15px;
    padding-bottom: 0;
}

.main-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.home-arrow {
    align-self: center;
}

.brand-section {
    border: solid black 2px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.img-brands {
    width: 50%;
}

.main-brands {
    flex-direction: column;
    padding: 15px;
    font-size: 14px;
    text-align: center;
}

.see-more {
    color: brown;
    background-color: #ffffff;
    font-size: 14px;
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 5px;
    width: 100px;
}

.imagen-fondo2 {
    background-image: url('https://i.gifer.com/9kTs.gif');
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-top: 10px;
    margin-top: 80px;
}

.imagen-fondo2 p {
    font-size: 18px;
    font-weight: 800;
    padding: 50px;
}

.imagen-fondo2 a {
    text-decoration: none;
    color: black;
    border: solid 1px black;
    padding: 15px 60px 15px 60px;
}

/* -----------/MAIN----------- */
/* -----------FOOTER----------- */
footer .footer-form {
    font-size: 14px;
    text-align: center;
    padding: 15px;
    background-color: var(--blanco-nuevo);
    margin-bottom: 10px;
}

footer .element-form {
    padding: 5px;
}

.element-form input {
    border-radius: 5px;
    padding: 5px;
    border: solid 1px var(--gris-nuevo);
}

.button-footer {
    padding: 0px 10px;
    background-color: var(--naranja-nuevo);
    color: #ffffff;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    margin-top: 10px;
}

.button-cancel-buy {
    padding: 5px 10px;
    background-color: var(--azul-nuevo);
    color: #ffffff;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    margin-top: 15px;
    margin-left: 30px;
}

footer {
    text-align: center;
    /* padding-bottom: 10px ; */
    background-color: var(--negro-nuevo);
}

.bottom-footer {
    color: #5794EF;
}

footer .list-politics {
    font-size: 12px;
}

footer .list-politics div {
    padding: 5px 0px;
}

.contact {
    display: flex;
    font-size: 14px;
    justify-content: center;
    padding: 5px;
}

.footer-logos {
    font-size: 19px;
    padding: 2px;
}

.copyright {
    font-weight: 600;
    font-size: 12px;
    border: solid black 1px;
    margin-top: 18px;
    color: var(--azul-nuevo);
    font-style: italic;
}

/****************************
    REGISTER
******************************/
.title-register {
    font-size: 16px;
    text-align: center;
    margin: 15px 0px;
    background-color: var(--negro-nuevo);
    color: var(--gris-nuevo);
    padding: 10px 0px;
}

.register-form {
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
    border-bottom: solid 2px var(--negro-nuevo);
}

.formatForm-register {
    margin: 15px 0px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.register-input {
    border-radius: 4px;
    background-color: var(--blanco-nuevo);
    color: black;
    display: block;
    width: 70%;
    margin: auto;
    height: 25px;
    border: none;
    text-align: center;
    margin-top: 5px;
}

.register-privacity {
    font-weight: 600;
    font-size: 12px;
    margin-top: 18px;
    font-style: italic;
}

.button-register {
    color: var(--blanco-nuevo);
    border: solid 2px black;
    padding: 1em 3em;
    /* font-size: 15px;
    font-weight: bold; */
    background-color: var(--negro-nuevo);
    border-radius: 1em;
}

.span-register {
    font-weight: 600;
    font-size: 12px;
    margin-top: 18px;
    font-style: italic;
}

/* .button-register::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--negro-nuevo);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
} */
.button-register:hover {
    color: var(--negro-nuevo);
    background-color: var(--azul-nuevo);
    box-shadow: 0 0 1em .15em var(--azul-nuevo), 0 0 2em 1em var(--azul-nuevo), inset 0 0 .35em .15em var(--azul-nuevo);
    transition: 0.8s;
}

/* .button-register:active {
    box-shadow: 0 0 0.6em .25em var(--naranja-nuevo),
        0 0 2.5em 2em var(--naranja-nuevo),
        inset 0 0 .5em .25em var(--naranja-nuevo);
} */
/****************************
   LOGIN
******************************/
#Contenedor {
    width: 50%;
    margin: 50px auto;
    background-color: #F3EDED;
    height: 400px;
    padding: 0px 9px 0px 9px;
    display: flex;
}

/**
 * Se aplica al contenedor donde muestra en el pie
 * la opción de olvidaste tu contraseña?
 */
.opcioncontra {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

/****************************
   LOGIN
******************************/
.img-login {
    width: 100%;
    display: block;
    opacity: 0.8;
}

.video-login {
    width: 100%;
    display: none;
}

.login-main {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
}

.login-box {
    width: 250px;
    background: rgb(36 33 38 / 90%);
    border: rgb(253 251 255) solid;
    box-shadow: 7px 7px 30px rgb(91 89 92);
    color: #fff;
    top: 47%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
width: fit-content;}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="email"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: #00000014;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box button[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: orangered;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
width: 100%;}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #c73601;
    color: #d9d9d9;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login-box a:hover {
    color: #fff;
}

.footer-login {
    position: absolute;
}

/****************************
   FORMULARIO DE EDICIÓN
******************************/
.form-label {
    display: inline-block;
    font-size: 1em;
    margin: 10px 0;
}

.form-input {
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    font-size: 12px;
    border-radius: 8px;
    border: solid 1px var(--gray);
    padding: 0 15px;
    background-color: ghostwhite;
}

.product-form {
    padding: 10px 13px 10px 10px;
    ;
    background-color: #EBEBEB;
    margin: 30px;
    
}

.form-input-description {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 12px;
    border-radius: 8px;
    border: solid 1px var(--gray);
    background-color: ghostwhite;
}

textarea.form-input-description {
    padding: 15px;
    height: 100px;
}

.button-save-product {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background-color: var(--naranja-nuevo);
    color: ghostwhite;
    border: solid black 1px;
    border-radius: 8px;
}

.button-edit-form {
    text-align: center;
    margin: 10px;
}

.product-form-title {
    font-size: 1.6em;
    font-weight: 400;
    padding: 10px 0px;
}

/****************************
   MAIN PRODUCTOS
******************************/
.mainProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/****************************
   PRODUCT LIST
******************************/
.productImg {
    width: 100%;
}

.product-list-box {
    width: 90%;
    text-align: center;
    font-size: 12px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 50px;
    background-color: #efefef;
    box-shadow: 0px 10px 10px -11px black;}

.product-list-box:hover{
    transform: scale(1.01);

}

/****************************
        User profile   
 ******************************/
 .user-info{
    margin: auto;
    width: fit-content;
}
 .userName-title{
    font-size: 2rem;margin: 15px;
    font-family: sans-serif;
    min-width: fit-content;
}
.user_imgProfile{
    margin-bottom: 0px;
    border-radius: 50%;
    border: 2px solid var(--gris-oscuro);
    width: 100%;
}
.user-data{
    display: block;
    min-width: fit-content;
    margin: 20px 0;
    padding: 9px;
    border-radius: 5px;
    background-color: #5794ef70;
    color: var(--azul);
    text-transform: uppercase;
}


/****************************
   MEDIA QUERY
******************************/
@media (min-width: 480px) {
    .login-box {
        width: 400px;
        top: 55%;
    }
}

@media(min-width: 768px) {

    /***************** HEADER *****************/
    .header-searcher .input {
        display: block;
    }

    .header-envio {
        display: block
    ;margin: 5px 0px;}

    .top-header {
        justify-content: space-around;
    }
    .header-products {
        font-size: 22px;
        color: #F4F3F7;
        text-align: center;
        border-bottom: solid 2px gray;
    }
    .header-sublist {
        margin-top: 10px;
        text-align: center;
        padding: 0px;
    }
    .header-sublist li {
        padding: 5px 0px;
    }

    .burger-menu {
        display: none;
    }

    .logo-header {
        width: 10%;
    }
    .userLogged-name{
        display: flex; 
    }

    .header-logo {
        align-self: flex-start;
    }

    .header-list {
        display: flex;
        width: 20%;
        justify-content: center;
    }

    .submit {
        font-size: 14px;
        background-color: #ffffff;
        color: black;
        border-radius: 0 5px 5px 0;
        padding: 0 13px;
    }

    .header-searcher {
        border-radius: 6px;
        order: 1;
        width: 10%;
        padding: 5px;
        min-width: 100px;
    }

    .header-searcher .input {
        border: none;
        height: 25px;
        width: 100%;
        border-radius: 5px 0 0 5px;
        background-color: #fff;
        /* background-color: var(--gris-nuevo); */
    }

    .logo-user {
        display: flex;
        color: #808080;
        align-items: center;
    }
    .logo-user a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .logo-user p {
        margin-left: 15px;
        margin-right: 5px;
    }

    .logo-carrito {
        display: block;
        color: #808080;
        align-items: center;
    }
    .logo-carrito a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .logo-carrito p {
        margin-right: 15px;
    }


    /***************** HOME *****************/
    .main-product {
        width: 25%;
    }

    .brand-section {
        display: none;
    }

    /***************** /HOME *****************/
    /***************** FOOTER *****************/
    footer .footer-form {
        font-size: 17px;
    }

    footer .element-form {
        display: inline-block;
        padding: 10px 15px;
    }

    .button-footer {
        width: 10%;
        padding: 10px;
        margin-left: 10px;
    }

    .bottom-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .list-politics div {
        list-style: disc;
        text-align: initial;
    }

    /***************** LOGIN *****************/
    /***************** DETALLE DE PRODUCTO *****************/
    .foto-producto {
        margin: 20px 0px;
        
    }
    .opciones, .info-froduct{ 
    width: 45%;
    }
    /***************** FORMULARIOS DE EDICIÓN/CREACIÓN *****************/
    .product-form {
        width: 70%;
        border-radius: 10px;
    margin: 30px auto;}

    /****************************
    PRODUCT LIST
    ******************************/
    .product-list-box {
        width: 40%;
    }
    .img-product-assets{
        max-width: 50%;
    }
    .user-info{
    margin: 5% 10%;
    }
}

@media(min-width: 1024px) {

    /***************** HEADER *****************/
    .header-list {
        width: 40%;
    }

    .header-searcher {
        width: 15%;
    }

    .logo-user {
        font-size: 19px;
    }

    .logo-carrito {
        font-size: 19px;
    }
    .header-sublist {
        display: block;
        display: flex;
    height: 35px;}
    .header-products {
        font-size: 24px;
    }
    .header-sublist li:hover {
        opacity: 0.4;
        border-bottom: solid 2px red;
        transition: all 0.5s;
    }
    
    .header-list li {
        margin: 0px 15px;
    }
    .header-list li a{
        font-size: 16px;
    }
    /***************** /HEADER *****************/
    /***************** PRODCUT DETAIL *****************/



    .opciones {
        display: flex;   
        flex-wrap: wrap;
    }
    .foto-producto {
        margin: 4% 15% 5%;
        max-width: 450px;
    }

    .div-fp {
        text-align: center;
    }


    .productImageLG {
        grid-column-start: 2;
        grid-row: span 2;
    }

    .opciones {
        margin-top: 68px;
        display: flex;
        align-items: center;
        grid-column-start: 1;
        grid-row-start: 1;
        align-content: center;
    }

    .info-product {
        margin-left: 5%;
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .arrow {
        margin: 4%;
    }
    .opciones, .info-product{
        margin: 30px 20px;
        width: 45%;
    }
    /****************************
    PRODUCT LIST
    ******************************/
    .product-list-box {
        width: 25%;
        margin: 20px 20px;
        padding: 20px;
    }

    .full-list-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    /***************** LOGIN *****************/
    .video-login {
        width: 100vw;
        display: block;
    }

    .img-login {
        display: none;
    }

    .login-box {
        top: 50%;
        left: 80%;
        position: absolute;
    }
    .user-info{
    margin: 5% 10%;
    }
}

/****************************
    404 not-found
    ******************************/
.nf-all {
    margin: 20%
}

.nf-text-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 300px;
}

.nf-tittle {
    text-align: center;
}

.nf-img {
    margin: auto;
    margin-bottom: 50px;
}

.buttom-nf {
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #e2e8f0;
    background-color: var(--azul-nuevo);
    border-radius: 10px;
    font-size: 1.2rem;
    color: var(--violeta);
}