* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul li{
    list-style-type:none;
    
}
ul{
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

:root{
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --gris: #E0E0E0;
    --blanco: #ffffff;
    --negro: #070707;
    --verde: #20fc8f;
    --azul: #087e8b;
    --violeta: #7b1e7a; 
}

:root {
    --gris-nuevo: #808080;
    --negro-nuevo: #110F0F;
    --blanco-nuevo: #F4F3F7;
    --azul-nuevo: #5794EF;
    --naranja-nuevo: #FF4500;
}



/****************************
        CARRITO
******************************/

.cart{
    
    background-color: var(--gris-claro);
    
}

.title-cart{
    font-size: 1.5rem;
    margin-left: 5px;
}

.titulos-cart{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    max-width: 100%;
    border-bottom: 1px solid #bebebe;
    /* margin-left: 15%; */
    font-size: 12px;
}

.product-data{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
}

.product-data img{
    width: 76px;
    box-shadow: 0px 0px 10px rgb(100 100 100);
}

.catidad{
    margin-left: 15px;
}

.title-cart-quantity{
margin-left: 30%;
}

.description-cart{
    border-bottom: 1px solid #bebebe;
}

.cart-bottom{
    width: 30%;
    margin-left: 70%;
    border-bottom: 1px solid #bebebe;
} 

.subtotal-bottom, .Shipping-bottom{
    margin: 10px 10px;
    display: flex;
    justify-content: flex-end;
}

.subt-bot, .ship-bot, .tot-cart{
    margin-right: 20px;
}

.total-cart{
    margin: 10px 10px;
    display: flex;
    justify-content: flex-end;
}

#cantidad{
    width: 35px;
    margin: 0 10px;
}
.btn-finalizar{
    background-color: var(--violeta);
    color: var(--verde);
}
.btn-cart{
    margin-top: 1.5rem;
   text-align: center;
}

.qty-cart{
    max-width: 40px;
}

/*carrusel*/
.owl-dots{
	text-align: center;
	margin-top: 0px;
}

.owl-dot{
	height: 15px;
	width: 25px;
	border-radius: 25px;
	cursor: pointer;
	outline: none;
	margin: 0 5px;
	border: 2px solid var(--violeta) !important;
	transition: all 0.3s ease;
}

.owl-dot:hover,
.owl-dot:active{
	background: var(--verde)!important;
}

.product-carrousel{
    display: flex;
    flex-direction: column;
    align-items: center;
font-weight: 600;}
.title-product{
    font-size: 16;
}
.wrapper{
    padding-bottom: 30px;margin-top: 46px;
}


.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    padding: 30px;
}
/****************************
     DETALLE DE PRODUCTO
******************************/
.main{
    border-bottom: #666 solid 1px;
}
.header-producto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: #666 solid 2px;
}

.logo-producto{
    width: 25vw;
    margin-left: 9%;
}
.icons-header-producto{
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.titulo-producto{
    font-weight: 550;
    text-align: center;
    margin-top: 7%;
}

.foto-producto{
    margin: 10%;
    width: 80%;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    margin-bottom: 5%;
}

.imagenes-de-opcion{
    width: 38%;
    margin: 5%;
    box-shadow: 0px 0px 10px rgb(100 100 100);
}

.arrow{
    margin: 10%;
}

.opciones{
    display: flex;
    align-items: center;
}
.info-product{
    margin-left: 5%;
}
.breve-descripcion{
    margin: 2%;
    color: #666;
}
.precio{
    margin: 2%;
    font-size: 18px;
    color: #666;
    font-weight: 600;
}
.formulario{
    display: flex;
    margin: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 0;
}
.masmenos{
    display: flex;
    flex-direction: column;
    margin-right: 3%;
}
.comprar{
    height: 100%;
    padding: 20%;
    background-color: var(--violeta);
    border: #20fc8f solid 1px;
    font-weight: 700;
    color: #20fc8f;
}
.descripcion{
    margin: 2%;
}
.lis{
    list-style-type: disc;
    margin: 2%;
    margin-left: 10%;
}
.bullet-product{
    background-color: yellow;
    border: black solid 1px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin:5px;
}
.bullet-product1{
    background-color: var(--azul);
    border: black solid 1px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin:5px;
}
.bullet-product2{
    background-color: var(--violeta);
    border: black solid 1px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin:5px;
}
.bullet-product3{
    background-color: var(--verde);
    border: black solid 1px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin:5px;
}
.bullets{
    display: flex;
}
/****************************
        HOME
******************************/

.home-body{
    background-color: var(--blanco-nuevo);
}
.home-main{
    width: 90%;
    margin: auto;
}

.header-envio{
    text-align: center;
    display: none;
}
.top-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:var(--negro-nuevo);

}
.burger-menu{
    padding: 15px;
    font-size: 30px;
    color: var(--gris-nuevo);
}

.header-searcher{
    border-radius: 6px;
    border: none;
    display: flex;
    font-size: 30px;
}
.header-searcher .input{
    display: none;
}
.submit{
    border: none;
    background-color: black ;
    color: var(--gris-nuevo);
    font-size: 30px;
}

.header-list{
    display: none;
    padding: 5px;
}

.header-list li{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30%;
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-size: 12px;
    width: 100%;
    background-color: var(--gris-oscuro);
}
.logo-user{
    display: none;
    order: 2;
}
.logo-carrito{
    display: none;
    order: 3;
}


/* -----------/HEADER----------- */



/* -----------SECTION IMAGEN----------- */
.imagen-fondo{
    background-image: url('https://i.pinimg.com/originals/89/f5/ee/89f5ee2c48c63c6e4fb127b7ecd9cd60.gif');
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-top: 10px;
}
.imagen-fondo p{
    font-size: 18px;
    font-family: 'Calligraffitti', cursive;
    font-weight: 400 ;
    color: white;
    padding:50px
}
/* -----------/SECTION IMAGEN----------- */

/* -----------MAIN----------- */
 main section .titulares{
     color: black;
     font-size: 12px;
     text-align: center;
     padding: 15px;
 }
    .main-product{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: solid black 1px;
    width: 40%;
    position: relative;
}

.header-logo{
    width: 30%;
}

.main-product:hover p{
    opacity: 1;
    background-color:rgba(87, 148, 239, 0.6)
}

.main-product p{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    color: #ffffff;
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 450ms;
}

 .main-description{
     font-size: 12px;
     width: 100%;
     padding: 15px;
     padding-bottom: 0;
 }

 .main-products{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     margin-bottom: 40px;
 }

.home-arrow{
    align-self: center;
}

.brand-section{
    border: solid black 2px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.img-brands{
    width: 50%;
}

.main-brands{
    flex-direction: column;
    padding: 15px;
    font-size: 14px;
    text-align: center;
}

.see-more{
    color: brown;
    background-color: #ffffff;
    font-size: 14px;
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 5px;
    width: 100px;
}

.imagen-fondo2{
    background-image: url('https://i.gifer.com/9kTs.gif');
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-top: 10px;
    margin-top: 80px;
}
.imagen-fondo2 p{
    font-size: 18px;
    font-family: 'Calligraffitti', cursive;
    font-weight: 800 ;
    color: black;
    padding:50px
}

/* -----------/MAIN----------- */

/* -----------FOOTER----------- */
footer .footer-form{
    font-size: 14px;
    text-align: center;
    padding: 15px;
    background-color: var(--blanco-nuevo);
    margin-bottom: 10px;
}

footer .element-form{
    padding: 5px;
}

.element-form input{
    border-radius: 5px;
    padding: 5px;
    border: solid 1px var(--gris-nuevo);
}

.button-footer{
    padding: 0px 10px;
    background-color: var(--naranja-nuevo);
    color: #ffffff;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    margin-top: 10px;
}

.button-cancel-buy{
    padding: 5px 10px;
    background-color: var(--azul-nuevo);
    color: #ffffff;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    margin-top: 10px;
}

footer{
    text-align: center;
    /* padding-bottom: 10px ; */
    background-color: var(--negro-nuevo);
}

.bottom-footer{
    color: #5794EF;
}

footer .list-politics{
    font-size:12px ;
}

footer .list-politics li{
    padding: 5px 0px;
}

.contact{
     display: flex;
     font-size: 14px;
     justify-content: center;
     padding: 5px;
 }

.footer-logos{
    font-size: 19px;
    padding: 2px;
}

.copyright{
    font-weight: 600;
    font-size: 12px;
    border: solid black 1px;
    margin-top: 18px;
    color: var(--azul-nuevo);
    font-style: italic;
}


/****************************
    REGISTER
******************************/

.contacto-div {
    display: flex;
    justify-content: center;
    background-color: burlywood;
  }
  .contacto-div .formatForm {
    border: rgb(227, 209, 245) solid;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    height: 75%;
    min-width: 35%;
    box-shadow: 7px 7px 30px rgb(217, 176, 255);
    border-radius: 4px;
    text-align: center;
  }
  .contacto-div .formatForm .inputClass {
    border-radius: 4px;
    background: rgb(100, 61, 136);
    color: white;
  }
  .contacto-div .formatForm .inputClasscoment {
    background: rgb(100, 61, 136);
    color: white;
  }
  
  .privacity{
    font-weight: 600;
    font-size: 12px;
    margin-top: 18px;
    font-style: italic;
  }

 /****************************
    REGISTER BUTTON
******************************/
    .button-register {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   .button-register::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .button-register:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   .button-register:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }

  /****************************
   LOGIN
******************************/
#Contenedor{
	width: 50%;
	margin: 50px auto;
	background-color: #F3EDED;
	height: 400px;
	padding: 0px 9px 0px 9px;
    display: flex;
}

/**
 * Se aplica al contenedor donde muestra en el pie
 * la opción de olvidaste tu contraseña?
 */
.opcioncontra{
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
}


  /****************************
   LOGIN
******************************/
.video-login{
    width: 100%;
    margin: 0%;
    padding: 0%;
}
.login-main {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
  }
  
  .login-box {
    height: 75%;
    min-width: 86%;
    background: rgb(100, 61, 136);
    border: rgb(227, 209, 245) solid;
    box-shadow: 7px 7px 30px rgb(217, 176, 255);
    color: #fff;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }

  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: orangered;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: burlywood;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }
  .footer-login{
      position: absolute;
  }

  @media (min-width: 450px){
    .login-box {
        height: 75%;
        min-width: 50%;
        background: rgb(100, 61, 136);
        border: rgb(227, 209, 245) solid;
        box-shadow: 7px 7px 30px rgb(217, 176, 255);
        color: #fff;
        top: 100%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 30px;
      }
    

  }



@media(min-width: 768px){
    /***************** HEADER *****************/
    .header-searcher .input {
    display: block;
    }
    .header-envio{
        display: block
    }
    
    .top-header{
        justify-content: space-around;
    }

    .burger-menu{
        display: none;
    }
    .header-logo{
        width: 10%;
        align-self: flex-start;
    }
    .header-list{
        display: flex;
    }
    .submit{
        font-size: 14px;
        background-color: var(--gris-nuevo);
        color: black;
    border-radius: 0 15px 15px 0;padding: 0 13px;}
    .header-searcher{
        border-radius: 6px;
        
        order: 1;
        width: 10%;
        padding: 5px;
    min-width: 100px;
}

    .header-searcher .input{
        border: none;
        height: 25px;width: 100%;
        border-radius: 15px 0 0 15px;
        background-color: var(--gris-nuevo);  
}
    .logo-user{
        display: block;
        color: #808080;
    }
    .logo-carrito{
        display: block;
        color: #808080;
    }
    /***************** HOME *****************/
    .main-product{
        width: 25%;
    }
    .brand-section{
        display: none;
    }
       /***************** /HOME *****************/
    /***************** FOOTER *****************/
    footer .footer-form{
        font-size: 17px;
    }
    footer .element-form{
        display: inline-block;
        padding: 10px 15px;
    }
    .button-footer{
        width: 10%;
        padding: 10px;
        margin-left: 10px;
    }

    .bottom-footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .list-politics li {
        padding: 5px 0px;
        list-style: disc;
        text-align: initial;
    }
       /***************** /FOOTER *****************/
}
@media(min-width:1024px){
     /***************** HEADER *****************/
    .header-list{
        width: 50%;
    }
    .header-searcher{
        width: 15%;
    }
    .logo-user{
        font-size: 19px;
    }
    .logo-carrito{
        font-size: 19px;
    }
      /***************** /HEADER *****************/
}