<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body class="home-body">

    <%- include('./partials/header') %>

      <div class="imagen-fondo">
        <p></p>
      </div>
      <main class="home-main">

        <section>

          <!--carrusel-->
          <h2 class="carousel-title">Mas vendidos</h2>
          <div class="wrapper">
            <div class="carousel owl-carousel">
              <div class="card card-1">
                <p class="title-product product-carrousel">Tabla O´NEIL</p>
                <img src="./img/Productos/Skateboard-Decks3.jpg" alt="image" />
                <div class="product-carrousel">
                  <p class="precio">$1.500</p>
                  <!-- <p class="descuentos">40% off</p> -->
                  <p class="descripciones"></p>
                </div>
              </div>
              <div class="card card-2">
                <p class="title-product product-carrousel">Tabla SANTA CRUZ</p>
                <img src="./img/Productos/Skateboard-Decks4.jpg" alt="image" />
                <div class="product-carrousel">
                  <p class="precio">$2.000</p>
                  <!-- <p class="descuentos">40% off</p> -->
                  <p class="descripciones"></p>
                </div>
              </div>
              <div class="card card-3">
                <p class="title-product product-carrousel">Tabla ZERO</p>
                <img src="./img/Productos/Skateboard-Decks5.jpg" alt="image" />
                <div class="product-carrousel">
                  <p class="precio">$2.000</p>
                  <!-- <p class="descuentos">40% off</p> -->
                  <p class="descripciones"></p>
                </div>
              </div>
              <div class="card card-4">
                <p class="title-product product-carrousel">Tabla FLIP</p>
                <img src="./img/Productos/Skateboard-Decks6.jpg" alt="image" />
                <div class="product-carrousel">
                  <p class="precio">$2.000</p>
                  <!-- <p class="descuentos">40% off</p> -->
                  <p class="descripciones"></p>
                </div>
              </div>
            </div>
          </div>
          <script>
            $(".carousel").owlCarousel({
              Margin: 10,
              loop: true,
              autoplay: true,
              autoplayTimeout: 2000, //2000 ms = 2sec
              autoplayHoverPause: true,
              responsive: {
                0: {
                  items: 1,
                  nav: false,
                },
                600: {
                  items: 2,
                  nav: false,
                },
                1000: {
                  items: 3,
                  nav: false,
                },
              },
            });
          </script>
        </section>
        <section class="brand-section">
          <img class="img-brands"
            src="https://sites.google.com/site/sk8trucos/_/rsrc/1468756681820/home/marcas-reconocidas/105.jpg"
            alt="Imagen de marcas">
          <div class="main-brands">
            <p><strong>Marcas</strong></p>
            <button class="see-more" type="submit">Ver Más</button>
          </div>
        </section>
      </main>
      <div class="imagen-fondo2">
        <p></p>
      </div>
      <%- include('./partials/footer') %>

  </body>

</html>