<!DOCTYPE html>
<html lang="en">
    <%- include('parcial/head.ejs') %>


<body>
    <div class="nf-all" >
        <div class="nf-text-center" >
            <h1 class="nf-tittle" >¡Ups!, lo que viniste a buscar no está acá.</h1>
            <img src="./img/travolta.gif" alt="John Travolta" class="nf-img" >
            <a href="/" class="" style="margin: auto;">
                <span class="buttom-nf" >Volver a la página principal</span>
            </a>
        </div>
    </div>
</body>
</html>