<!DOCTYPE html>
<html lang="en">
      <!-- head EJS -->
      <%- include('parcial/head.ejs') %>
<body>
    <!-- header EJS -->
    <%- include('parcial/header.ejs') %>


    <form action="/products/create" method="POST" enctype="multipart/form-data">
        <div class="product-form">
            <div>
				<h2 class="product-form-title">Añadir un producto:</h2>
			</div>
        <div>
            <label for="name" class="form-label">Nombre del producto</label>
            <input type="text" name="name" placeholder="Ej. Skate Indiana" class="form-input">
        </div>
        <div>
            <label for="price" class="form-label">Precio</label>
            <input type="number" name="price" placeholder="Ej. 550.00" class="form-input">
        </div>
        <div>
            <label for="name" class="form-label">Categoría</label>
            <select name="categories" class="form-input">
                <option value="">Seleccionar</option>
                <option value="skates">Skates</option>
                <option value="tablas">Tablas</option>
                <option value="ruedas">Ruedas</option>
                <option value="ejes">Ejes</option>
                <option value="accesorios">Accesorios</option>
            </select>
        </div>
        <div>
            <label for="description" class="form-label">Descripción del producto</label>
            <textarea type="text" name="description" placeholder="Ej. Skate con diseño exclusivo..." class="form-input-description"></textarea>
        </div>
        <div>
            <label for="description" class="form-label">Imagen del producto</label>
            <input type="file" name="product-image">
        </div>
        <div class="button-edit-form">
            <button type="submit" class="button-save-product">Guardar producto</button>
        </div>
    </div>
</form>


  <!-- footer EJS -->
  <%- include('parcial/footer.ejs') %>
</body>
</html>