<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estás editando el producto:</title>
</head>
<body>
    <!-- aca hacemos includes del header -->
    <div class="edit-form">
    <form action="/:id/edit" method="POST">
        <div class="element-edit-form">
            <label for="name" class="form-label">Nombre del producto</label>
            <input type="text" name="name" placeholder="Ej. Skate Indiana" class="form-input">
        </div>
        <div class="element-edit-form">
            <label for="price" class="form-label">Precio</label>
            <input type="text" name="price" placeholder="Ej. 550.00" class="form-input">
        </div>
        <div class="element-edit-form">
            <label for="description" class="form-label">Descripción del producto</label>
            <input type="text" name="description" placeholder="Ej. Skate Indiana" class="form-input">
        </div>
        <div class="element-edit-form">
            <label for="name" class="form-label">Categoría</label>
            <select name="categories" class="form-input">
                <option value="">Skate</option>
                <option value="">Tablas</option>
                <option value="">Ruedas</option>
                <option value="">Accesorios</option>
            </select>
        </div>
        <div class="element-edit-form">
            <label for="description" class="form-label">Imagen del producto</label>
            <input type="file" name="product-image" placeholder="Ej. Skate Indiana" class="form-input">
        </div>
    </form>
</div>
</body>
</html>