<!DOCTYPE html>
<html lang="en">

  <!-- head EJS -->
  <%- include('parcial/head.ejs') %>
<body>
    <!-- header EJS -->
    <%- include('parcial/header.ejs') %>
  
  <section class="full-list-products">
  <div class="product-list-box">
    <h2>Tabla O´NEIL</h2>
    <img class="productImg" src="/img/Productos/Skateboard-Decks3.jpg" alt="image" />
    <div class="product-carrousel">
      <p class="precio">$1.500</p>
      <!-- <p class="descuentos">40% off</p> -->
      <p class="descripciones">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, tempore?</p>
    </div>
  </div>

  <div class="product-list-box">
    <h2>Tabla SANTA CRUZ</h2>
    <img class="productImg" src="/img/Productos/Skateboard-Decks4.jpg" alt="image" />
    <div class="product-carrousel">
      <p class="precio">$2.000</p>
      <!-- <p class="descuentos">40% off</p> -->
      <p class="descripciones">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, tempore?</p>
    </div>
  </div>

  <div class="product-list-box">
    <h2>Tabla ZERO</h2>
    <img class="productImg" src="/img/Productos/Skateboard-Decks5.jpg" alt="image" />
    <div class="product-carrousel">
      <p class="precio">$2.000</p>
      <!-- <p class="descuentos">40% off</p> -->
      <p class="descripciones">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, tempore?</p>
    </div>
  </div>

  <div class="product-list-box">
    <h2>Tabla FLIP</h2>
    <img class="productImg" src="/img/Productos/Skateboard-Decks6.jpg" alt="image" />
    <div class="product-carrousel">
      <p class="precio">$2.000</p>
      <!-- <p class="descuentos">40% off</p> -->
      <p class="descripciones">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, tempore?</p>
    </div>
  </div>
  </section>    

 

  <!-- footer EJS -->
  <%- include('parcial/footer.ejs') %>

</body>
</html>