<!DOCTYPE html>
<html lang="en">
  <!-- head EJS -->
  <%- include('parcial/head.ejs') %>

  <body class="register-body">
    <!-- header EJS -->
    <%- include('parcial/header.ejs') %>

    <main>
      <div class="contacto-div">
        <form class="formatForm" action="/register" method="POST">
          <label for="name">Nombre </label>
          <input
            class="inputClass"
            type="text"
            name="name"
            id="name"
            required
            placeholder="Escribe tu nombre"
          /><br />
          <label for="surname">Apellido</label>
          <input
            class="inputClass"
            type="text"
            name="surname"
            id="surname"
            required
            placeholder="Escribe tu apellido"
          /><br />
          <label for="phone">Telefono </label>
          <input
            class="inputClass"
            type="text"
            id="number"
            required
            placeholder="Ej: 11 6666 4444"
          /><br />
          <label for="email">Mail</label>
          <input
            class="inputClass"
            type="email"
            id="email"
            required
            placeholder="Ejemplo@mail.com"
          /><br />
          <label for="user">Nombre de Usuario </label>
          <input
            class="inputClass"
            type="text"
            name="user"
            id="user"
            required
            placeholder="@Ejemplo"
          /><br />
          <div>
            <label for="password">Crear Contraseña</label>
            <input
              class="inputClass"
              type="password"
              name="password"
              id="password"
            />
          </div>
          <!--Agregar que la contraseña tiene que ser minimo 8 caracteres-->
          <div>
            <label for="password">Confirmar Contraseña</label>
            <input
              class="inputClass"
              type="password"
              name="password"
              id="password"
            />
          </div>
          <label for="Localidad"> Localidad</label>
          <select class="inputClass" name="categories" id="categories">
            <option value="" disabled selected>Selecciona una Provincia</option>
            <option value="Buenos Aires">Buenos Aires</option>
            <option value="Ciudad Autonoma de Buenos Aires">
              Ciudad Autónoma de Buenos Aires
            </option>
            <option value="Catamarca">Catamarca</option>
            <option value="Chaco">Chaco</option>
            <option value="Chubut">Chubut</option>
            <option value="Cordoba">Cordoba</option>
            <option value="Corrientes">Corrientes</option>
            <option value="Entre Rios">Entre Rios</option>
            <option value="Formosa">Formosa</option>
            <option value="Jujuy">Jujuy</option>
            <option value="La Pampa">La Pampa</option>
            <option value="La Rioja">La Rioja</option>
            <option value="Mendoza">Mendoza</option>
            <option value="Misiones">Misiones</option>
            <option value="Neuquén">Neuquén</option>
            <option value="Río Negro">Río Negro</option>
            <option value="Salta">Salta</option>
            <option value="San Juan">San Juan</option>
            <option value="San Luis">San Luis</option>
            <option value="Santa Cruz">Santa Cruz</option>
            <option value="Santa Fe">Santa Fe</option>
            <option value="Santiago Del Estero">Santiago Del Estero</option>
            <option value="Tierra del Fuego">Tierra del Fuego</option>
            <option value="Tucuman">Tucuman</option></select
          ><br />
          <label for="">¿Cómo nos conociste?</label><br />
          <input type="checkbox" name="Amigo" value="Un amigo/a" />
          <label for="Un amigo/a">Un amigo/a</label><br />
          <input type="checkbox" name="Publicidad" value="Publicidad" />
          <label for="Publicidad">Publicidad</label><br />
          <input type="checkbox" name="Redes Sociales" value="Redes Sociales" />
          <label for="Redes sociales">Redes Sociales</label><br />
          
          <br />

          <button class="button-register" type="submit" value="REGISTRARSE">
            Registrar
          </button>
          <button class="button-register" type="reset" value="BORRAR">
            Borrar
          </button>
          <div class="privacity">
            <p>Al crear una cuenta, acepta nuestros Términos y privacidad .</p>
          </div>
        </form>
      </div>
    </main>

       <!-- footer EJS-->
       <%- include('parcial/footer.ejs') %>
  </body>
</html>
