<footer>
  <div class="footer-form">
    <form action="/" method="post">
      <label>
        <h4>Recibí las mejores ofertas y novedades</h4>
      </label>
      <div class="element-form">
        <input type="text" name="name-user" placeholder="name_user">
      </div>
      <div class="element-form">
        <input type="email" name="user-email" placeholder="user@email.com">
      </div>
      <button class="button-footer" type="submit">Enviar</button>
    </form>
  </div>

  <div class="bottom-footer">
    <ul>
      <li>
        <h5>CONTACTANOS</h5>
        <div class="contact">
          <i class="fas fa-mobile"></i>
          <p>+54 011 1111111</p>
        </div>
        <div class="contact">
          <i class="far fa-envelope"></i>
          <p>(marca)@gmail.com</p>
        </div>
      </li>
      <li class="footer-logos">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
      </li>
    </ul>
    <ul class="list-politics">
      <li>Formas de pago</li>
      <li>Metodos de envíos</li>
      <li>Políticas de Privacidad</li>
      <li>Políticas de cambios y devoluciones</li>
    </ul>
    <div>
      <form action="#" method="post">
        <button class="button-cancel-buy" type="submit">Cancelar compra</button>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © 2022 SanDiego® Todos los derechos reservados.</p>
  </div>
</footer>