<header>
    <div class="top-header">
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>

      <div class="logo-header">
        <a href="/">
          <img src="/img/logo-san-diego.png" alt="Logo San Diego" class="header-logo"/>
        </a>  
      </div>


        <form class="header-searcher" action="/searcher" method="post">
          <input type="text" class="input">
          <button class="submit"><i class="fas fa-search"></i></button>
        </form>
      
      <ul class="header-list">
      <li>Marcas</li>
      <li>Skates</li>
      <li>Accesorios</li>
      <li>Torneos</li>
      <li><a href="/products/create">Vender</a></li>
      <li>Sale</li>
      </ul>
  
    <div class="logo-user">
    <a href="/usuarios/login"><i class="far fa-user"></i></a>
    </div>
    <div class="logo-carrito">
     <a href="/productos/carrito"><i class="fas fa-shopping-cart"></i></a> 
    </div>
  </div>
  <p class="header-envio">Envío gratis a partir de $4500 <i class="fas fa-truck"></i> - 6 cuotas sin interés <i class="fas fa-credit-card"></i></p>
  </header>